# Create EDD Study Files From Data

In [ ]:
cd ../

In [1]:
import pandas as pd
from IPython.display import display

In [2]:
df = pd.read_csv('data/indigoidine/indigoidine_media_Cycle1.csv')
df = df.loc[df['Plate']=='dest_plate']
#df = df.set_index(['Plate','Well'])

In [3]:
#Create Line Description
def create_media_description(series):
    description = ''
    for item,value in series.iteritems():
        if item not in ['Plate','Well','Target','Volume']:
            description += '{}:{:0.4f},'.format(item,value)
    return description
    
df['Line Description'] = df.apply(create_media_description,axis=1)

In [4]:
#Add Metadata for Media and Replicates To Craft Line Names
reps=3
n = 15

#flat_list = [item for sublist in  for item in sublist]

lnfcn = lambda x: 'M{}-R{}-W{}-C1-B1'.format(x['media'],x['replicate'],x['Well'])
df['media'] =     [i+1 for i in range(n) for _ in range(reps)]
df['replicate'] = [i+1 for _ in range(n) for i in range(reps)]
df['Line Name'] = df.apply(lnfcn,axis=1)

In [5]:
#Augment With Control Rows
data = {'Line Name':['M0-R1-W32-C1-B1','M0-R2-W40-C1-B1','M0-R3-W48-C1-B1'],'Line Description':['control','control','control'],'Well':[32,40,48]}
test_df = pd.DataFrame(data)
display(test_df)

         Line Name Line Description  Well
0  M0-R1-W32-C1-B1          control    32
1  M0-R2-W40-C1-B1          control    40
2  M0-R3-W48-C1-B1          control    48

In [6]:
#Append Data To Data Frame
production_df = pd.read_csv('data/indigoidine/cycle1_batch1_data.csv')
display(production_df)

    Indigoidine [g/L]
0            0.039563
1            0.073779
2            0.082351
3            0.149748
4            0.204138
5            0.217884
6           -0.018005
7            0.040154
8           -0.037958
9            0.130090
10           0.132677
11           0.197783
12          -0.038180
13           0.087376
14           0.071044
15           0.173174
16           0.220248
17           0.154699
18          -0.023030
19          -0.013202
20          -0.007142
21          -0.036406
22          -0.032637
23          -0.030125
24           0.293927
25           0.346248
26           0.265697
27           0.627364
28           0.708210
29           0.148713
30           0.066758
31           0.092919
32          -0.005442
33           1.016890
34           1.546162
35           0.564253
36           0.098535
37           0.242049
38          -0.036776
39           0.026039
40           0.082277
41          -0.029755
42          -0.038254
43          -0.017710
44          -0.009950
45           0.460423
46           0.182042
47           0.305086

In [7]:
df = pd.concat([df,test_df],sort=False)
df['Media'] = 'LB'
df['Part ID'] = ''
df['CID:193349:Indigoidine'] = production_df['Indigoidine [g/L]'].values
display(df[['Line Name','Line Description','Part ID','Media']])

,Line Name,Line Description,Part ID,Media
116,M1-R1-W1-C1-B1,"Glucose:2.8785,Na2HPO4:31.8280,NaCl:37.3632,KH...",,LB
117,M1-R2-W9-C1-B1,"Glucose:2.8785,Na2HPO4:31.8280,NaCl:37.3632,KH...",,LB
118,M1-R3-W17-C1-B1,"Glucose:2.8785,Na2HPO4:31.8280,NaCl:37.3632,KH...",,LB
119,M2-R1-W2-C1-B1,"Glucose:1.8812,Na2HPO4:29.5933,NaCl:3.7465,KH2...",,LB
120,M2-R2-W10-C1-B1,"Glucose:1.8812,Na2HPO4:29.5933,NaCl:3.7465,KH2...",,LB
121,M2-R3-W18-C1-B1,"Glucose:1.8812,Na2HPO4:29.5933,NaCl:3.7465,KH2...",,LB
122,M3-R1-W3-C1-B1,"Glucose:1.3147,Na2HPO4:47.2379,NaCl:27.7312,KH...",,LB
123,M3-R2-W11-C1-B1,"Glucose:1.3147,Na2HPO4:47.2379,NaCl:27.7312,KH...",,LB
124,M3-R3-W19-C1-B1,"Glucose:1.3147,Na2HPO4:47.2379,NaCl:27.7312,KH...",,LB
125,M4-R1-W4-C1-B1,"Glucose:0.3071,Na2HPO4:40.8515,NaCl:8.5774,KH2...",,LB
126,M4-R2-W12-C1-B1,"Glucose:0.3071,Na2HPO4:40.8515,NaCl:8.5774,KH2...",,LB
127,M4-R3-W20-C1-B1,"Glucose:0.3071,Na2HPO4:40.8515,NaCl:8.5774,KH2...",,LB
128,M5-R1-W5-C1-B1,"Glucose:2.1613,Na2HPO4:48.8187,NaCl:19.1319,KH...",,LB
129,M5-R2-W13-C1-B1,"Glucose:2.1613,Na2HPO4:48.8187,NaCl:19.1319,KH...",,LB
130,M5-R3-W21-C1-B1,"Glucose:2.1613,Na2HPO4:48.8187,NaCl:19.1319,KH...",,LB
131,M6-R1-W6-C1-B1,"Glucose:0.6023,Na2HPO4:11.0077,NaCl:45.3333,KH...",,LB
132,M6-R2-W14-C1-B1,"Glucose:0.6023,Na2HPO4:11.0077,NaCl:45.3333,KH...",,LB
133,M6-R3-W22-C1-B1,"Glucose:0.6023,Na2HPO4:11.0077,NaCl:45.3333,KH...",,LB
134,M7-R1-W7-C1-B1,"Glucose:1.9564,Na2HPO4:36.6397,NaCl:25.5337,KH...",,LB
135,M7-R2-W15-C1-B1,"Glucose:1.9564,Na2HPO4:36.6397,NaCl:25.5337,KH...",,LB
136,M7-R3-W23-C1-B1,"Glucose:1.9564,Na2HPO4:36.6397,NaCl:25.5337,KH...",,LB
137,M8-R1-W8-C1-B1,"Glucose:1.0423,Na2HPO4:24.1448,NaCl:49.2781,KH...",,LB
138,M8-R2-W16-C1-B1,"Glucose:1.0423,Na2HPO4:24.1448,NaCl:49.2781,KH...",,LB
139,M8-R3-W24-C1-B1,"Glucose:1.0423,Na2HPO4:24.1448,NaCl:49.2781,KH...",,LB
140,M9-R1-W25-C1-B1,"Glucose:2.4141,Na2HPO4:38.6666,NaCl:23.6210,KH...",,LB
141,M9-R2-W33-C1-B1,"Glucose:2.4141,Na2HPO4:38.6666,NaCl:23.6210,KH...",,LB
142,M9-R3-W41-C1-B1,"Glucose:2.4141,Na2HPO4:38.6666,NaCl:23.6210,KH...",,LB
143,M10-R1-W26-C1-B1,"Glucose:0.7086,Na2HPO4:18.8479,NaCl:7.1008,KH2...",,LB
144,M10-R2-W34-C1-B1,"Glucose:0.7086,Na2HPO4:18.8479,NaCl:7.1008,KH2...",,LB
145,M10-R3-W42-C1-B1,"Glucose:0.7086,Na2HPO4:18.8479,NaCl:7.1008,KH2...",,LB
146,M11-R1-W27-C1-B1,"Glucose:2.7173,Na2HPO4:17.5976,NaCl:35.7885,KH...",,LB
147,M11-R2-W35-C1-B1,"Glucose:2.7173,Na2HPO4:17.5976,NaCl:35.7885,KH...",,LB
148,M11-R3-W43-C1-B1,"Glucose:2.7173,Na2HPO4:17.5976,NaCl:35.7885,KH...",,LB
149,M12-R1-W28-C1-B1,"Glucose:2.5053,Na2HPO4:42.8292,NaCl:13.5844,KH...",,LB
150,M12-R2-W36-C1-B1,"Glucose:2.5053,Na2HPO4:42.8292,NaCl:13.5844,KH...",,LB
151,M12-R3-W44-C1-B1,"Glucose:2.5053,Na2HPO4:42.8292,NaCl:13.5844,KH...",,LB
152,M13-R1-W29-C1-B1,"Glucose:1.3853,Na2HPO4:14.0207,NaCl:33.0457,KH...",,LB
153,M13-R2-W37-C1-B1,"Glucose:1.3853,Na2HPO4:14.0207,NaCl:33.0457,KH...",,LB
154,M13-R3-W45-C1-B1,"Glucose:1.3853,Na2HPO4:14.0207,NaCl:33.0457,KH...",,LB
155,M14-R1-W30-C1-B1,"Glucose:1.7094,Na2HPO4:26.9197,NaCl:41.7883,KH...",,LB
156,M14-R2-W38-C1-B1,"Glucose:1.7094,Na2HPO4:26.9197,NaCl:41.7883,KH...",,LB
157,M14-R3-W46-C1-B1,"Glucose:1.7094,Na2HPO4:26.9197,NaCl:41.7883,KH...",,LB
158,M15-R1-W31-C1-B1,"Glucose:0.9555,Na2HPO4:21.8800,NaCl:16.5817,KH...",,LB
159,M15-R2-W39-C1-B1,"Glucose:0.9555,Na2HPO4:21.8800,NaCl:16.5817,KH...",,LB
160,M15-R3-W47-C1-B1,"Glucose:0.9555,Na2HPO4:21.8800,NaCl:16.5817,KH...",,LB
0,M0-R1-W32-C1-B1,control,,LB
1,M0-R2-W40-C1-B1,control,,LB
2,M0-R3-W48-C1-B1,control,,LB

In [8]:
#Create EDD Line Description File...
df[['Line Name','Line Description','Part ID','Media']].to_csv('data/indigoidine/experiment_description.csv',index=False)

In [10]:
#Create EDD Measurement File...
df['Protocol Name'] = 'LC-MS'
df['Measurement'] = 'CID:193349:Indigoidine'
df['24'] = df['CID:193349:Indigoidine']
df[['Line Name','Protocol Name','Measurement','24']].to_csv('data/indigoidine/edd_cycle0_data.csv',index=False)